{% extends 'base.html.twig' %}

{% block title %}Hello AgentController!
{% endblock %}

{% block body %}
    
    <h1>Agent Index</h1>

    <table class="table">

	<thead>
		<tr>
			<th>Id</th>
			<th>UserID</th>
			<th>Name</th>
			<th>ManagerID</th>
			<th>IsSecondLine</th>
		</tr>
	</thead>


    <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.userId.id }}</td>
                <td>{{ agent.userId }}</td>
                <td>{{ agent.managerId.id}}</td>
                <td>{{ agent.isSecondLine }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
