{% extends 'base.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block body %}
	<h1>Clients</h1>
	<h2>Mytickets Index</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Subject</th>
				<th>MessageBody</th>
				<th>Status</th>
				<th>User Comments</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket in tickets %}

				<td>{{ ticket.id }}</td>
				<td>{{ ticket.subject }}</td>
				<td>{{ ticket.messageBody }}</td>
				<td>{{ ticket.status }}</td>
				<td>
					<ul>
						{% for comment in ticket.comments %}
							<li>{{comment.commentContent}}</li>
						{% endfor %}
					</ul>
				</td>

				<td>
					<a href="{{ path('myticket_show', {'id': ticket.id}) }}">show</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('log_issue') }}">Create new</a>{% endblock %}
